@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Open+Sans:wght@800&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
   font-family: 'Exo 2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: 'Exo 2';
}

 .svg {
  filter: invert(1); 
}

.aceimg {
  background-image: url('./assets/ace.jpg');
  background-position: 0%;
  background-size: 100%;
  background-repeat: no-repeat;
}